#footer {
  padding: 0px 0;
  min-height:0;
  text-align:center;
  background-color:#2e2e2e;
  background-image:none;
}
#footer .container p { font-size:13px; margin:0; }

.footer-post {
  background: url(https://raw.githubusercontent.com/mrhopkins/mrhopkins.github.io/master/_includes/img/flatirons.jpg);
  background-size: cover; 
  background-position: center; 
  color: black;
}